<nav>
    <div class="logo">
        <a href="/">
            <h1>File Management</h1>
        </a>
    </div>


    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>

    </ul>
</nav>